@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-animation {
        @apply cursor-pointer hover:opacity-70 active:text-deep-gray;
    }
    .black-bar {
        @apply bg-main-black flex-center text-white py-3 rounded-lg active:text-main-black active:bg-light-gray cursor-pointer text-sm tracking-[0.1rem];
    }
    .black-bar-modal {
        @apply bg-main-black flex-center text-white py-3 rounded-lg active:text-main-black active:bg-light-gray cursor-pointer text-sm tracking-[0.1rem];
    }
    .black-bar-xl {
        @apply black-bar tracking-[0.3rem] text-base;
    }
    .disabled-bar {
        @apply bg-deep-gray flex-center text-white py-3 rounded-lg cursor-not-allowed text-sm;
    }
    .disabled-bar-xl {
        @apply disabled-bar tracking-[0.3rem] text-base;
    }
    .main-container {
        @apply flex flex-col w-full h-full min-h-screen relative 
    }
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-left {
        @apply flex items-center justify-start;
    }

    .flex-right {
        @apply flex items-center justify-end;
    }

    .brand-box-black {
        @apply cursor-pointer opacity-80 hover:opacity-100 ease-in-out duration-300 ;
    }
    .brand-box {
        @apply cursor-pointer opacity-50 hover:opacity-100 ease-in-out duration-300;
    }
    .text-xs-sm {
        @apply text-xs tb:text-sm;
    }
    .text-sm-base {
        @apply text-sm tb:text-base;
    }
    .text-base-lg {
        @apply text-base tb:text-lg;
    }
    .text-lg-xl {
        @apply text-lg tb:text-xl;
    }
    .text-xl-2xl {
        @apply text-xl tb:text-2xl;
    }
    .text-2xl-3xl {
        @apply text-2xl tb:text-3xl;
    }
    .click-effect {
        @apply cursor-pointer rounded-full hover:ring-2 hover:ring-deep-gray active:bg-light-gray;

    }
    .search-bar {
        @apply mt-0 h-10 block w-full px-0.5 border-0 border-b focus:ring-0 placeholder-sub-black tracking-[0.1rem] focus:border-main-black caret-main-black
        }
    .custom-input-class {
        @apply mt-0 h-10 block w-full px-0.5 border-0 border-b border-gray-200 text-xs focus:ring-0 focus:border-main-black placeholder-transparent focus:placeholder:text-sm;
    }
    .custom-label-class {
        @apply absolute -top-4 left-0 text-xs text-sub-black peer-placeholder-shown:text-sm peer-placeholder-shown:text-gray-300 peer-placeholder-shown:top-2 transition-all
        peer-focus:-top-4 peer-focus:text-xs peer-focus:text-sub-black;
    }
    .custom-input-disabled {
        @apply mt-1 block w-full px-3 py-2 bg-white border border-light-gray rounded-md text-sm shadow-sm     
        disabled:bg-gray-200 disabled:text-blue-black disabled:border-light-gray;
    }
}
/* For Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: transparent red;
}

/* For webkit-based browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-left: 15px solid white;
    border-bottom: var(--triangle-size) solid transparent;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-right: 15px solid white;
    border-bottom: var(--triangle-size) solid transparent;
}

:root {
    --main-black: #323232;
    --sub-black: #333d4b;
    --blue-black: #6b7684;
    --deep-gray: #d9d9d9;
    --footer-gray: #f9fafb;
    --light-gray: #f5f5f5;
    --triangle-size: 60px;
}

@media (max-width: 768px) {
    :root {
        --triangle-size: 40px;
    }
}


body {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    border: 1px, solid var(--light-gray);
    color: var(--main-black);
    position: relative;
}

.main-black {
    color: var(--main-black);
}

.sub-black {
    color: var(--sub-black);
}

.blue-black {
    color: var(--blue-black);
}

.main-black-border {
    border-color: var(--main-black);
}

.not-found-404{
    /* text-shadow: -1px 0 var(--main-black), 0 1px var(--main-black), 1px 0 var(--main-black), 0 -1px var(--main-black); */
    -webkit-text-stroke: 4px var(--main-black);
    color: var(--main-black);

}

/* embla */
/* embla */

.brand-box:hover {
    opacity: 1;
}
.img-hover {
    transition: transform 0.5s; /* Animation */
}
.img-hover:hover {
    opacity: 1;
    transform: scale(1.2);
    z-index: 10;
}

.side-bar-visible {
    visibility: visible;
    transition: 0.3s;
    opacity: 1;
}
.side-bar-hidden {
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}

.square {
    width: 100%;
    position: relative;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

button:disabled,
button[disabled] {
    background-color: var(--deep-gray);
    color: #666666;
    cursor: not-allowed;
}
button:disabled > button:active {
    background-color: transparent !important;
}


.nav-effect {
    transition: all 0.2s ease-in-out;
    translate: 0px -100%;
    opacity: 0;
    visibility: hidden;
}
.nav-effect:after{
    display: none;
}
.nav-effect-back {
    transition: all 0.2s ease-out;
    translate: 0px 0%;
    opacity: 100;
}


/* scroll-bar */

.scroll-bar {
    overflow-y: auto;
    overflow-x: hidden;

}

/* 스크롤바의 폭 너비 */
.scroll-bar::-webkit-scrollbar {
    width: 8px;  
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: var(--main-black); 
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.scroll-bar::-webkit-scrollbar-track {
    background: var(--light-gray)  /*스크롤바 뒷 배경 색상*/
}