@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-animation {
        @apply cursor-pointer hover:opacity-70 active:text-deep-gray;
    }
    .black-bar {
        @apply bg-main-black flex-center text-white py-3 rounded-lg active:text-main-black active:bg-light-gray cursor-pointer text-sm;
    }
    .black-bar-modal {
        @apply bg-main-black flex-center text-white py-3 rounded-lg active:text-main-black active:bg-light-gray cursor-pointer text-sm;
    }
    .black-bar-xl {
        @apply black-bar tracking-[0.3rem] text-base;
    }
    .disabled-bar {
        @apply bg-deep-gray flex-center text-white py-3 rounded-lg cursor-not-allowed text-sm;
    }
    .disabled-bar-xl {
        @apply disabled-bar tracking-[0.3rem] text-base;
    }
    .custom-container {
        @apply flex flex-col relative m-auto h-full;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-left {
        @apply flex items-center justify-start;
    }

    .flex-right {
        @apply flex items-center justify-end;
    }

    .brand-box {
        @apply opacity-70 grow basis-1/5;
    }
    .text-xs-sm {
        @apply text-xs tb:text-sm;
    }
    .text-sm-base {
        @apply text-sm tb:text-base;
    }
    .text-base-lg {
        @apply text-base tb:text-lg;
    }
    .text-lg-xl {
        @apply text-lg tb:text-xl;
    }
    .text-xl-2xl {
        @apply text-xl tb:text-2xl;
    }
    .text-2xl-3xl {
        @apply text-2xl tb:text-3xl;
    }
    .click-effect {
        @apply cursor-pointer rounded-full hover:ring-2 hover:ring-deep-gray active:bg-light-gray;
    }
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-left: 15px solid white;
    border-bottom: var(--triangle-size) solid transparent;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-right: 15px solid white;
    border-bottom: var(--triangle-size) solid transparent;
}

:root {
    --main-black: #323232;
    --sub-black: #333d4b;
    --blue-black: #6b7684;
    --deep-gray: #d9d9d9;
    --footer-gray: #f9fafb;
    --light-gray: #f5f5f5;
    --triangle-size: 60px;
}

@media (max-width: 768px) {
    :root {
        --triangle-size: 40px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    /* max-width: 1024px; */
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    border: 1px, solid var(--light-gray);
    color: var(--main-black);
    position: relative;
}
.mondaL {
    font-family: var(--Monda-L);
}

.main-black {
    color: var(--main-black);
}

.sub-black {
    color: var(--sub-black);
}

.blue-black {
    color: var(--blue-black);
}

.main-black-border {
    border-color: var(--main-black);
}

.not-found-404{
    /* text-shadow: -1px 0 var(--main-black), 0 1px var(--main-black), 1px 0 var(--main-black), 0 -1px var(--main-black); */
    -webkit-text-stroke: 4px var(--main-black);
    color: var(--main-black);

}

/* embla */
/* embla */

.brand-box:hover {
    opacity: 1;
}
.img-hover {
    transition: transform 0.5s; /* Animation */
}
.img-hover:hover {
    opacity: 1;
    transform: scale(1.2);
    z-index: 10;
}

.side-bar-visible {
    visibility: visible;
    transition: 0.3s;
    opacity: 1;
}
.side-bar-hidden {
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}

.square {
    width: 100%;
    position: relative;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

button:disabled,
button[disabled] {
    background-color: var(--deep-gray);
    color: #666666;
    cursor: not-allowed;
}
button:disabled > button:active {
    background-color: transparent !important;
}