
input[id*="accordion"] {
    display: none;
}

input[id*="accordion"] + label {
    display: block;
    position: relative;
    cursor: pointer;
}

input[id*="accordion"] + label em {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    display: inline-block;
}

input[id*="accordion"] + label + div {
    /* transition: all 0.35s; */
    /* overflow: hidden; */
}

input[id*="accordion"]:checked + label {
    border-bottom: 1px solid #e5e5e5;
}

input[id*="accordion"]:checked + label + div {
    display: inline-block;
    max-height: 250px;
    overflow: auto;
}

input[id*="accordion"]:checked + label em {
    transform: scaleY(-1);
}
.arrodion {
    width: 100%;
}

/* select */
.rotateArrow {
    transform: scaleY(-1);
}
